<footer class="footer">

  <div class="text-center text-muted">
    <p style="font-size: 20px;">What's Next?</p>
    <b><p style="font-size: 30px;">Get In Touch</p></b>
    <b><p style="font-size: 16px;">I’m currently looking for any new opportunities, my inbox is always open.<br> Whether you have a question or just want to say hi, I’ll try my best to get back to you!</p></b>
  </div>
    <div class="container text-center">
     
      <a class="cc-linkedin btn btn-link " href="https://www.linkedin.com/in/sumitsumit/" target="_blank">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>

      <a class="cc-github btn btn-link " href="https://github.com/sumitkhudaniya" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-envelope btn btn-link" href="mailto: sumitkhudaniya@outlook.com" target="_blank">
        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <b><p style="font-size: 20px;"><a href="mailto: sumitkhudaniya@outlook.com">Say Hello</a></p></b>
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>